
<div class="personalinfo">
  <h3 class="text-capitalize mb-5">Personal information</h3>
  <div class="main-info row">


    <div class="col-md-6">
      <div>
         <label for="username" class="text-capitalize">Full name</label>
         <input type="text" class="w-100">

         <label for="email" class="text-capitalize mt-5">Email</label>
         <input type="email" class="w-100">
      </div>
    </div>


    <div class="col-md-6">
      <div>
         <label for="phone" class="text-capitalize mt-lg-0 mt-md-0 mt-5">Phone number</label>
         <input type="tel" id="phone" class="w-100">

         <label class="text-capitalize mt-5" > birthday</label>
            <div class="d-flex align-items-center justify-content-center flex-lg-nowrap flex-md-wrap gap-4 mt-1">
               <!--days -->
         <select name="day" id="day" class="w-100 p-2 p-2" [(ngModel)]="dayselected">
           <option value="" disabled selected>Day</option>
           <option *ngFor="let day of days" [value]="day">{{ day }}</option>
         </select>
         <!-- months -->

         <select name="month" id="month" class="w-100 p-2" [(ngModel)]="selectedmonth">
           <option value="" disabled selected>month</option>
           <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
         </select>

        <!-- years -->
         <select name="year" id="year" class="w-100 p-2 " [(ngModel)]="selectedyear">
           <option value="" disabled selected>year</option>
           <option *ngFor="let year of years" [value]="year">{{ year }}</option>
         </select>

            </div>



      </div>
    </div>


    <div class="col-md-12 mt-5">
      <label for="location" class="text-capitalize">location</label>
         <input type="text" id="location" class="w-100">
    </div>

    <div class="col-md-12 align-self-end">
      <div class="d-flex align-items-end  justify-content-end">
        <button class="save-change align-self-end">
        save changes

      </button>

      </div>

    </div>


  </div>
</div>
