<div class="wrapper row">
    <div class="col p-4 pr-1 w-100">
        <div class="course row">
            <div class="col-sm-6">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">python fundamentals</h5>
                    <i class="card-subtitle tag">programming</i>
                    <i class="card-subtitle tag">python</i>
                    <p class="card-text p-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, quidem aliquam deserunt laboriosam, voluptas praesentium excepturi inventore expedita exercitationem similique cumque, voluptates obcaecati ratione deleniti maiores atque quos reiciendis alias.
                    </p>
                    <a class="card-link text-capitalize">edit</a>
                </div>
            </div>
            <div class="enroll col-sm-3">
                <p class="number">5000</p>
                <p class="unit">enrollments</p>
            </div>
            <div class="complete col-sm-3">
                <p class="number">50%</p>
                <p class="unit">completion rate</p>
            </div>
        </div>
        <div class="course row">
            <div class="col-sm-6">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">Java fundamentals</h5>
                    <i class="card-subtitle tag">programming</i>
                    <i class="card-subtitle tag">java</i>
                    <p class="card-text p-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, quidem aliquam deserunt laboriosam, voluptas praesentium excepturi inventore expedita exercitationem similique cumque, voluptates obcaecati ratione deleniti maiores atque quos reiciendis alias.
                    </p>
                    <a class="card-link text-capitalize">edit</a>
                </div>
            </div>
            <div class="enroll col-sm-3">
                <p class="number">3000</p>
                <p class="unit">enrollments</p>
            </div>
            <div class="complete col-sm-3">
                <p class="number">80%</p>
                <p class="unit">completion rate</p>
            </div>
        </div>
        <div class="course row">
            <div class="col-sm-6">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">JavaScript fundamentals</h5>
                    <i class="card-subtitle tag">programming</i>
                    <i class="card-subtitle tag">JavaScript</i>
                    <p class="card-text p-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, quidem aliquam deserunt laboriosam, voluptas praesentium excepturi inventore expedita exercitationem similique cumque, voluptates obcaecati ratione deleniti maiores atque quos reiciendis alias.
                    </p>
                    <a class="card-link text-capitalize">edit</a>
                </div>
            </div>
            <div class="enroll col-sm-3">
                <p class="number">6000</p>
                <p class="unit">enrollments</p>
            </div>
            <div class="complete col-sm-3">
                <p class="number">40%</p>
                <p class="unit">completion rate</p>
            </div>
        </div>
    </div>
</div>