<div class="checkout-container">
<img src="assets/visa.png" alt="Visa" />
<img src="assets/mastercard.png" alt="MasterCard" />
</div>


<!-- Form -->
<form (ngSubmit)="confirmPayment()" #paymentForm="ngForm">
<input type="text" name="name" ngModel placeholder="Name on Card" required />


<input type="text" name="card" ngModel maxlength="16" placeholder="Card Number" required />


<input type="text" name="cardnum" ngModel maxlength="16" placeholder="Enter Card Number" required />


<div class="row">
<input type="month" name="exp" ngModel required />
<input type="text" name="cvc" ngModel maxlength="3" placeholder="Enter CVC" required />
</div>


<button type="submit" class="confirm-btn">Confirm Payment</button>
</form>



<!-- Summary -->
<div class="summary-box">
<h3>Summary</h3>


<div class="item-row" *ngFor="let item of summary">
<img [src]="item.image" />
<div>
<p>{{ item.title }}</p>
<span>{{ item.price }}</span>
</div>
</div>


<div class="totals">
<div><span>Subtotal</span> <span>$51.38</span></div>
<div><span>Coupon Discount</span> <span>$0</span></div>
<div><span>TAX</span> <span>$4.20</span></div>
<hr />
<div class="total"><span>Total</span> <span>$55.58</span></div>
</div>
</div>

