<footer class="footer bg-footer-main ">
  <div class="container mx-auto row d-flex align-items-center justify-content-center  ">
    <div class="col-md-5 col-sm-12 ">
      <div class="hero mx-auto d-flex align-items-center justify-content-center">
      <div class="hero-content py-4 d-flex flex-column align-items-center justify-content-between">
        <div class="upper mb-4 d-flex align-items-center justify-content-between">
          <a href=""><img src="../../../assets/logo.png" alt="logo image at footer"></a>
          <span class="line border-start  vr "></span>
          <p class="fw-bold text-white">Virtual Class<br> for Zoom</p>
        </div>

        <div class="middle my-4 text-center">
          <p>Subscribe to get our Newsletter</p>
          <div class="mail d-md-flex align-items-center justify-content-between">
            <input type="email" placeholder="Your Email" class="form-control my-2 ps-3 py-2 bg-footer-main " />
            <button class="subscribe  bg-primary-main text-white py-2  px-4 ms-2  ">Subscribe</button>
          </div>
        </div>

        <div class="bottom mt-3 text-center ">
          <div class="d-flex mb-2 align-items-center justify-content-between gap-4">
            <span>Careers</span>
            <span class="line-after-befor">Privacy Policy</span>
            <span>Terms & Conditions</span>
          </div>
          <span class="copyrights ">© 2021 Class Technologies Inc. </span>
        </div>
      </div>
    </div>

    </div>

  </div>
</footer>
