<div class="navcont bg-primary-main position-fixed w-100 z-3">
  <div class="container ">


  <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand p-0" href="#"><img src="./../../../assets/logo.png" alt="logo image totc"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-capitalize">
        <li class="nav-item">
          <a class="nav-link active" class="text-white"  routerLinkActive="bg-nav-a px-3  py-2 rounded-3 text-black" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-md-2" class="text-white mx-md-4" routerLinkActive="bg-nav-a px-3  py-2 rounded-3 text-black" routerLink="/about">About Us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" class="text-white" routerLinkActive="bg-nav-a px-3  py-2 rounded-3 text-black" routerLink="courses">courses</a>
        </li>




      </ul>

      <div class="authBtn text-capitalize" *ngIf="authService.currentUser() === null">
        <button class="login btn text-gray rounded rounded-pill px-4   bg-white " routerLink="login"> login</button>
        <button class="signup btn text-white rounded rounded-pill px-4  ms-2 bg-primary-main  " routerLink="signup">signup</button>
      </div>

      <div class="userprofileImg m-md-3" *ngIf="authService.currentUser()">
       <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/avatar (1).jpg" class="rounded rounded-circle" alt="user profile image" >
          </a>
        <ul class="dropdown-menu text-capitalize profile-dropdown" [class.show]="isProfileMenueOpen">
          <li class="dropdown-item"> profile</li>
          <li class="dropdown-item"> setting</li>
          <li class="dropdown-item" (click)="logout()"> logout</li>
        </ul>

       </div>
      </div>

    </div>
  </div>
</nav>


</div>


</div>

