<section class="about ">

  <div class="about-header">
        <img src="../../../assets/about.png" class="w-100" alt="about">
  </div>

  <div class="container py-5">
    <div class="about-contnt text-center">
      <h2 class="text-main">Why we should take astep</h2>
      <div class="content row mt-5">
       <div class="col-md-6">
        <div class="left p-5 text-start">
          <h3>About Us</h3>
          <div class="my-3">
             Our e-learning platform is designed to make education accessible, interactive, and engaging for learners of all levels. We believe that learning should be flexible, enjoyable, and tailored to each student’s needs. With a modern digital environment and user-friendly tools, we aim to support students in developing real skills that help them succeed academically and professionally          </div>
          <button class="btn btn-primary mt-3 rounded-2 text-capitalize" ><a routerLink="courses" class="text-decoration-none text-white">categories</a> </button>
        </div>

       </div>
        <div class="col-md-6">
          <img src="../../../assets/about2.png" alt="" class="w-100">

       </div>
      </div>




    </div>

  </div>

</section>
