.sidebar, #sidebar ul li {
    background-color: var(--sidebar-bg);
}

.sidebar ul li {
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: var(--footer-main) !important;
}

.sidebar ul li a {
    color: #ffffff;
}

.sidebar .list-group-item.sidebar-link-active {
    background-color: var(--footer-main) !important;
}

button.sidebar-toggle {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
    background-color: white;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 150px;
    transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (max-width: 992px) {
    #sidebar {
        position: fixed;
        height: 100%;
        z-index: 3;
        width: 250px;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    #sidebar.open {
        left: 0;
    }

    button.open {
        transform: rotate(180deg);
        left: 300px !important;
    }
}