<h1>Create Newcourse</h1>
<form>
  <div class="form-group">
    <label for="name" class="text-capitalize">course name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="enter the coursename"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="description" class="text-capitalize">description</label>
    <textarea
      type="text"
      class="form-control"
      name="description"
      placeholder="enter the description"
      formControlName="description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="price" class="text-capitalize">price</label>
    <input
      type="number"
      class="form-control"
      name="price"
      placeholder="enter the price"
      formControlName="price"
    />
  </div>
  <div class="form-group">
    <label for="category" class="text-capitalize">category</label>
    <input
      type="text"
      class="form-control"
      name="category"
      placeholder="enter the category"
      formControlName="category"
    />
  </div>
</form>
