*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --primary-color:#49bbbd;
  --secondary-color: rgb(146, 214, 214);
  --header-color:#F48C06;
  --header-regtangle:#F25471;
  --subtitle-color:#2F327D;
  --second-subtitle-color:#00CBB8;
  --footer-main:#252641;
  --footer-content:#B2B3CF;
  --imagebd-back:#33efa0;
  --sidebar-bg:#5f5f5f;
}
body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

/* navbar classes */
.bg-primary-main{
  background-color: var(--primary-color);
}
.bg-footer-main{
  background-color:var(--footer-main);
}



.authBtn .signup ,.bg-nav-a {
  background-color: #7ecccd;
}

.text-gray{
  color: #5b5b5b;
}
.upper p{
  font-size: 1.2rem;
}
.middle p{
  font-size: 1.625rem;
  color: var(--footer-content);
}
.line{
  height: 60px;
  margin: 10px 40px;
  border-color: var(--footer-content);
}
.subscribe{
  border-radius: 60px;
  border: none;
  box-shadow: 0px 2px 2px #49bbbd;
}
.subscribe:hover, .subscribe:focus{
  background-color: var(--primary-color);
  transform: translateY(-2px);

}
.mail input{
   border-color: var(--footer-content);
     border-radius: 60px;
     color:var(--footer-content);
border-color: var(--footer-content);
outline:0;
}
.mail input::placeholder{
     color:var(--footer-content);
opacity: 1;
}
.mail input:focus{
     outline: none;
     box-shadow: none;
     background-color: #f7f6f6d2;

}
.bottom{
  font-size: 1rem;
  color: var(--footer-content);
  white-space: nowrap;
}
.line-after-befor{
  position:relative;
}
.line-after-befor::after , .line-after-befor::before{
  position: absolute;
  content: "|";
  top: 0;
}

.line-after-befor::before {
  left: -20%;
}

.line-after-befor::after {
  right: -20%;
}
/* ///////header///////// */

h1 span{
  color: var(--header-color) !important;
  text-transform: capitalize;
}
.header-btn{
  white-space:nowrap;
}
.header-btn i{
  color: var(--primary-color) !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.watch {
  color: #252641;
}
.img-header{
  max-width: 70%;
  object-fit: contain;
}
.header-left{
  margin-top: 20%;
}
/* /////////home-main///////// */
.counter div{
font-size: 1.2rem;
white-space: nowrap;
}
.counter div span{
  background: linear-gradient(45deg, #308abc, #82c4d5, #d7f6fa);
   font-size: 3rem;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.success-content p{
  font-size: 0.7rem;
}

.all-content p{
  color: #696984;
  font-size: 1rem;
}
.all-sections p ,.feature-content p{
    color: #696984;

}

.all-sections h3{
  color: var(--subtitle-color);
}
.all-content h2 {
  color:var(--second-subtitle-color) ;
  span{
    color: var(--subtitle-color);
  }
}
.all-content-section {
  position: relative;
  box-shadow: 0 10px 60px 0 rgba(38, 45, 118, 0.08)
 ;
}
.icons{
  position: absolute;
  top: -40px;
  right: calc(50% - 30px);
  color: white;
  font-size: 25px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: #2F327D;
}
.icon-1{
  background-color: #5B72EE;
}
.icon-2{
  background-color: var(--second-subtitle-color);
}
.icon-3{
  background-color: #29B9E7;
}


/* ///////////// */
.what-content h2{
  color: var(--subtitle-color);
  span{
    color: var(--second-subtitle-color);
  }
}

.what-container img{
  width: 100%;
  /* vertical-align: middle; */
  object-fit: cover;
  border-radius: 20px;
}
.inside{

  position: relative;
}
.overlay{
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  background-color:rgba(23, 27, 65, 0.5)
}
.overlay-btn{
  border: 1px solid white;
  border-radius: 80px;
  color: white;
  padding: 15px 30px;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;

}
.overlay-btn:hover{
  background-color:rgba(35, 189, 238, 0.9) ;
}
/* ////////////////////// */
.feature-content h2{
  color: var(--subtitle-color);
  span{
    color: var(--second-subtitle-color);
  }

}
.right-feature h3{
  color: var(--subtitle-color);
  span{
    color: var(--second-subtitle-color);
  }

}

















@media (max-width:375px) {
  .bottom{
  font-size: 0.7rem;
  color: var(--footer-content);
  white-space: nowrap;
}
.line-after-befor::before {
  left: -15%;
}

.line-after-befor::after {
  right: -15%;
}

.upper p{
  font-size: 0.9rem;
}
.middle p{
  font-size: 1rem;
}

.header-btn{
  font-size: 0.7rem;
}


}
@media(max-width:767px){
  .header-left{
    text-align: center;
  }
  .header-btn{
    align-items: center;
    justify-content: center !important;
  }
  .header-left{
  margin-top: 10%;
}
}

@media (min-width:762px){
  .success-content p ,.all-content p{
    width: 50%;
  }
}
